version: "3.9"

services:
  backend:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: backend
    entrypoint: ["./wait-for-it.sh", "db:5432", "--", "python", "manage.py", "runserver", "0.0.0.0:8000"]
    ports:
      - "80:8000"
    environment:
      DB_HOST: db
      DB_PORT: 5432
    networks:
      - app-network
    depends_on:
      - db

  db:
    image: postgres:15
    container_name: db
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
      POSTGRES_DB: database
    volumes:
      - postgres-data:/var/lib/postgresql/data
    networks:
      - app-network

  flask-frontend:
    image: maeddes/frontendflask:hse24  # Offizielles Docker-Image f체r das Frontend
    container_name: flask-frontend
    environment:
      - API_URL=http://backend:80/shopping  # Verweis auf den Backend-Service
    ports:
      - "5000:5000"  # Mapping f체r das Frontend (optional, je nach Bedarf)
    networks:
      - app-network
    depends_on:
      - backend  # Stellt sicher, dass das Backend zuerst hochf채hrt
    platform: linux/amd64

networks:
  app-network:  # Gemeinsames Netzwerk f체r Kommunikation zwischen Services
    driver: bridge

volumes:
  postgres-data:
